<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <!-- @openlab/alembic inject-css -->
    <link rel="stylesheet" href="https://fonts.openlab.dev/inter/inter.css" />
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <header class="hero">
      <img src="assets/hero.jpg" />
    </header>
    <main>
      <center-layout> {{ content | safe }} </center-layout>
    </main>
    <footer> {{ site.title }} 2023 </footer>
    <!-- @openlab/alembic inject-js -->
  </body>
</html>
