<sidebar-layout sidewidth="10em" side="right">
  <div class="flow">
    <ul>
      <li>County Durham and Darlington</li>
      <li>Cumbria, Northumberland, Tyne and Wear</li>
      <li>The Newcastle upon Tyne Hospitals</li>
      <li>Northumbria Healthcare</li>
      <li>North Tees and Hartlepool</li>
      <li>South Tyneside and Sunderland</li>
      <li>South Tees Hospitals</li>
    </ul>
  </div>
  <div>{% logoset logos.nhs, '10em' %}</div>
</sidebar-layout>
