hr {
  margin: 5rem 0 !important;
  border: none;
  border-top: var(--s-5) dashed var(--border);
}

.logoset {
  justify-content: space-evenly;
}

img.logo {
  background-color: white;
  border-radius: var(--s-4);
  height: calc(30px + 3vw);
  padding: var(--s-3);
  margin: calc(-1 * var(--s-3));
}

header.hero {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 40vh;
}

header.hero img {
  width: 100%;
  filter: saturate(0.7);
}
